/*reset css default behavior in all brawser*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  min-height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  line-height: calc(1em + 0.5rem);
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
img,
canvas,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}
button,
input,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  hyphens: auto;
}
@media (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto;
  }
}
